.menu-hamb {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
    height: 440px;
    position: absolute;
}

.menu-hamb a {
    z-index: 11;
    width: 100%;
    height: 50px;
    position: relative;
    top: 37px;
    text-decoration: none;
    color: rgb(143, 143, 143);
    text-align: center;
    border-top: 1px solid #0ad1e7;
    padding-top: 30px;
}

.menu-hamb a:hover {
    text-decoration: underline;
}

#FC-hamb {
    height: 30px;
    padding-top: 40px;
}

.hamburguer {
    display: none;
    width: 60px;
    margin-right: 10px;
    margin-top: 8px;
}