/* Smartphones (600px para baixo) */
@media only screen and (max-width: 600px) {
    #seguradora {
        flex-flow: column;
        padding-right: 0px;
    }

    #seguradora-image {
        width: 100%;
        height: 300px;
    }

    #seguradora-text {
        width: 100%;
    }

    #seguradora-text div {
        width: 100%;
    }

    #seguradora-text h2 {
        text-align: center;
        font-size: 20px;
        width: 100%;
    }

    #seguradora-text p {
        text-align: center;
        font-size: 17px;
        width: 100%;
    }

    #seguradora-image {
        justify-content: center;
        align-items: normal;
    }

    #seguradora-image-card {
        border-radius: 20px;
        background-color: black;
        height: 210px;
        width: 310px;
    }

    #seguradora-image-card-extra {
        display: none;
    }

    #seguradora-image-overlay {
        height: 210px;
        width: 310px;
    }

    #seguradora-text-btn {
        align-items: center;
    }

    .footer-container {
        font-size: 16px;
    }

    #contact {
        margin-bottom: 20px;
        margin-right: 10px;
    }


    #logo {
        margin-right: 60px;
        text-align: center;
    }


    .txtImg {
        text-align: center;
    }

    .txtImg h1 {
        font-size: 28px;
        margin-bottom: 5px;
    }
    
    .txtImg p {
        font-size: 16px;
        margin-bottom: 0px;
    }

    #btn1 {
        text-align: center;
        padding: 20px 0;
        margin-top: 30px;
        width: 170px;
        font-size: 16px;
    }

    .menu a {
        display: none;
    }

    .menu {
        flex: 0;
    }

    .hamburguer {
        display: flex;
        margin-right: 0px;
    }

    .navbar {
        position: relative;
    }

    #seguradora-text {
        width: 280px;
        align-items: baseline;
    }

    #seguradora-image-card {
        width: 280px;
    }

    #seguradora-text-smartphone{
        display: flex;
        flex-flow: column wrap;
        width: 200px;
    }

    .box {
        width: 300px;
        height: 300px;
    }

    .title-prods h1 {
        position: relative;
        left: -15px;
    }

    .title-prods p {
        left: 0px;
    }

}

/* Dispositivos um pouco maiores, mas ainda pequenos (Pequenos Tablets e Smartphones + largos, 600px para cima) */
@media only screen and (min-width: 600px) and (max-width:768px) {
    #seguradora {
        flex-flow: column;
        padding-right: 0px;
    }

    #seguradora-image {
        width: 100%;
    }

    #seguradora-text {
        width: 100%;
    }

    #seguradora-text div {
        width: 100%;
    }

    #seguradora-text h2 {
        text-align: center;
        font-size: 20px;
        width: 100%;
    }

    #seguradora-text p {
        text-align: center;
        font-size: 17px;
        width: 100%;
    }

    #seguradora-image {
        justify-content: center;
    }
    #seguradora-text-btn {
        align-items: center;
    }

    #redes {
        margin-right: 20px;
    }

    #redes a {
        width: 120px;
    }

    #logo {
        margin-right: 80px;
    }

    .menu a {
        display: none;
    }

    .menu {
        flex: 0;
    }

    .hamburguer {
        display: flex;
    }

    .navbar {
        position: relative;
    }

    .Image{
        height: 900px;
    }

    #seguradora-text-smartphone{
        display: flex;
        flex-flow: column wrap;
    }
}

/*Dispostivos Médios (Tablets deitados, 768px para cima) */
@media only screen and (min-width: 768px) and (max-width:992px) {
    #seguradora {
        flex-flow: column;
        padding-right: 0px;
    }

    #seguradora-image {
        width: 100%;
    }

    #seguradora-text {
        width: 100%;
    }

    #seguradora-text div {
        width: 100%;
    }

    #seguradora-text h2 {
        text-align: center;
        font-size: 20px;
        width: 100%;
    }

    #seguradora-text p {
        text-align: center;
        font-size: 17px;
        width: 100%;
    }

    #seguradora-image {
        justify-content: center;
    }
    #seguradora-text-btn {
        align-items: center;
    }

    .footer-container {
        max-width: 2000px;
    }

    #logo {
        margin-right: 80px;
    }

    #redes {
        margin-right: 20px;
    }

    #redes a {
        width: 120px;
    }

    .menu a {
        display: none;
    }

    .menu {
        flex: 0;
    }

    .hamburguer {
        display: flex;
    }

    .navbar {
        position: relative;
    }

    #seguradora-text {
        width: 700px;
    }

    #seguradora-image-card {
        width: 700px;
    }

    #seguradora-text-smartphone{
        width: 700px;
    }


}

/* Dispostivos Largos (laptops/desktops, 992px para cima) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {


    #logo {
        margin-right: 80px;
    }

    #overlay {
        height: 100.5%;
    }

    #seguradora-text div {
        height: 700px;
    }
    
}